{% extends "layout.html" %}

{% block title %}
    Requests
{% endblock %}

{% block main %}
    <div class="m-3">
        <h1 class="mb-3 text-center">Requests for {{ order.web_name }}</h1>
        <hr class="my-4">
        <h1 class="mb-3">Current Requests</h1>
            {% if requests %}
            <div class="table-responsive">
                <table class="table table-hover align-middle text-center">
                    <thead>
                        <tr>
                            <th scope="col">Total Number of Product:</th>
                            <th scope="col">{{ order.req_count }}</th>
                            <th scope="col">Total Value:</th>
                            <th scope="col">{{ order.req_total | sar }}</th>
                            <th scope="col">Order Status:</th>
                            <th scope="col">
                                {% if order.closed %}
                                    <strong>Closed</strong>
                                {% elif had_finished(order.deadline) %}
                                    <strong>Past Deadline</strong>
                                {% else %}
                                    <strong>Open</strong>
                                {% endif %}
                            </th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th scope="col">Products</th>
                            <th scope="col">Requested By</th>
                            <th scope="col">Price</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Total</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in requests %}
                            <tr>
                                <th scope="row"><a href="{{ request.prod_url}}">{{ request.prod_name}}</a></th>
                                <td>{{ request.username }}</td>
                                <td>{{ request.prod_price | sar }}</td>
                                <td>{{ request.prod_amount }}</td>
                                <td>{{ request.total | sar}}</td>
                                {% if request.closed == 1 %}
                                <td><strong>Canceld by Owner</strong></td>
                                {% elif request.closed == 2 %}
                                <td><strong>Rejected</strong></td>
                                {% else %}

                                <td>
                                <button type="button" class="w-100 btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal{{ loop.index }}">
                                    Reject
                                </button>
                                <td>

                                <div class="modal fade" id="exampleModal{{ loop.index }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Reject Request</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        Are you sure you want to reject this request, you can't undo this action.
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <a href="/cancel_request/{{ encode({'id': request.id, 'code': 2, 'token': token, 'order_id': request.order_id}) }}"><button type="button" class="btn btn-primary">Reject</button></a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr class="my-4">
                {% if order.closed %}
                    <form action="/requests/{{ encode({'id': order.id, 'status': 0}) }}" method="post"><button class="w-100 btn btn-primary btn-lg" type="submit">Reopen Order</button></form>
                {% else %}
                    <form action="/requests/{{ encode({'id': order.id, 'status': 1}) }}" method="post"><button class="w-100 btn btn-primary btn-lg" type="submit">Close Order</button></form>
                {% endif %}
            </div>
            {% else %}
                <p>Looks like there are no available requests right now check again later</a></p>
            {% endif %}
    </div>
{% endblock %}